# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration 1
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
#driver = webdriver.Chrome(driver,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [32]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [33]:
#your code
# opciones del driver
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\284004286.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [17]:
#your code
#name
article = driver.find_elements(By.CLASS_NAME, 'Box-row')
article[0].find_elements(By.TAG_NAME, 'a')[2].text

'Nikita Sobolev'

In [20]:
#username
article[0].find_elements(By.TAG_NAME, 'a')[3].text

'sobolevn'

In [21]:
lst = []
for i in range(len(article)):
    name = article[i].find_elements(By.TAG_NAME, 'a')[2].text
    username = article[i].find_elements(By.TAG_NAME, 'a')[3].text
    lst.append(name + ' ' + '(' + username + ')')
lst

['Nikita Sobolev (sobolevn)',
 'Emil Ernerfeldt (emilk)',
 'Jonny Borges (jonataslaw)',
 'Stephen Celis (stephencelis)',
 'monkeyWie (gopeed)',
 'Azure SDK Bot (azure-sdk)',
 'Martin Bonnin (martinbonnin)',
 'Wangchong Zhou (fffonion)',
 'Ammar Ahmed (ammarahm-ed)',
 'Matt Bierner (mjbvz)',
 'Alessandro Ros (aler9)',
 'Mike Perham (mperham)',
 'DavidKorczynski (Follow)',
 'Abhijeet Prasad (AbhiPrasad)',
 'Mislav Marohnić (mislav)',
 'Leonard Hecker (lhecker)',
 'Pedro Cuenca (pcuenca)',
 'Marcus Olsson (marcusolsson)',
 'Alex Eagle (alexeagle)',
 'Nolan Lawson (nolanlawson)',
 'Luke Latham (guardrex)',
 'Joshua Levy (jlevy)',
 'Bas Nijholt (basnijholt)',
 'Ice3man (Ice3man543)',
 'kunfei (gedoor)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [34]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [35]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [37]:
article=driver.find_elements(By.CLASS_NAME, 'Box-row')

In [50]:
article[0].find_elements(By.TAG_NAME, 'a')[1].text

'public-apis / public-apis'

In [52]:
lst = []
for i in range(len(article)):
    if article[i].find_elements(By.TAG_NAME, 'a')[1].text == 'Star':
        lst.append(article[i].find_elements(By.TAG_NAME, 'a')[2].text)
    else:
        lst.append(article[i].find_elements(By.TAG_NAME, 'a')[1].text)
    

lst

['public-apis / public-apis',
 'bregman-arie / devops-exercises',
 'facebookresearch / fairseq',
 'cloneofsimo / paint-with-words-sd',
 'Azure / azure-cli',
 'caronc / apprise',
 'joweich / chat-miner',
 'PaddlePaddle / PaddleTS',
 'mli / autocut',
 'sczhou / CodeFormer',
 'unifyai / ivy',
 'augmentedstartups / AS-One',
 'loTus04 / W4SP-Stealer',
 'rwightman / pytorch-image-models',
 'iterativv / NostalgiaForInfinity',
 'getredash / redash',
 'ethereum / consensus-specs',
 'd8ahazard / sd_dreambooth_extension',
 'microsoft / recommenders',
 'zulip / zulip',
 'ultralytics / yolov5',
 'openai / improved-diffusion',
 'facebookresearch / ParlAI',
 'aliyun / surftrace',
 'NVlabs / stylegan2-ada-pytorch']

#### Display all the image links from Walt Disney wikipedia page

In [78]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [79]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [80]:
article=driver.find_elements(By.TAG_NAME, 'img')

In [81]:
article[0].get_attribute('src')

'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png'

In [65]:
lst = []
for i in range(len(article)):
    lst.append(article[i].get_attribute('src'))
    

lst

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://en.wikipedia.org/static/images/footer/wikimedia-button.png',
 'https://en.wikipedia.org/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [85]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [86]:
#your code
url ='https://en.wikipedia.org/wiki/Python_(mythology)'
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\2237765786.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [87]:
article=driver.find_elements(By.TAG_NAME, 'a')

In [94]:
article[3].get_attribute('href')

'https://en.wikipedia.org/wiki/Pythia'

In [96]:
lst=[]
for i in range(len(article)):
    try:
        if 'wiki' in article[i].get_attribute('href'):
            lst.append(article[i].get_attribute('href'))
    except:
        None
        
lst[:10]

['https://en.wikipedia.org/wiki/Python_(mythology)#mw-head',
 'https://en.wikipedia.org/wiki/Python_(mythology)#searchInput',
 'https://en.wikipedia.org/wiki/Pythia',
 'https://en.wikipedia.org/wiki/Python_(disambiguation)',
 'https://en.wikipedia.org/wiki/File:Apollo_dan_Pithon.jpg',
 'https://en.wikipedia.org/wiki/File:Apollo_dan_Pithon.jpg',
 'https://en.wikipedia.org/wiki/Apollo',
 'https://en.wikipedia.org/wiki/Virgil_Solis',
 'https://en.wikipedia.org/wiki/Ovid',
 'https://en.wikipedia.org/wiki/Metamorphoses']

#### Number of Titles that have changed in the United States Code since its last release point

In [103]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [104]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [106]:
len(driver.find_elements(By.CLASS_NAME, 'usctitlechanged'))

9

#### A Python list with the top ten FBI's Most Wanted names

In [107]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [108]:
#your code 
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\743416116.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [110]:
article=driver.find_elements(By.CLASS_NAME, 'title')

In [116]:
article[1].text

'OMAR ALEXANDER CARDENAS'

In [117]:
lst = []
for i in range(1, len(article)):
    lst.append(article[i].text)

lst

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [140]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [141]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [157]:
driver.find_elements(By.TAG_NAME, 'tbody')[4]

In [142]:
article=driver.find_elements(By.TAG_NAME, 'tr')

In [151]:
article[14].text

'2022-11-09   14:10:53.7\n26min ago\n35.91  N   117.71  W   2 2.1  CENTRAL CALIFORNIA'

In [150]:
#date
article[14].text[:10]

'2022-11-09'

In [153]:
#time
article[14].text[11:23]

'  14:10:53.7'

In [187]:
tabla=driver.find_elements(By.TAG_NAME, 'tbody')[4]

filas=tabla.find_elements(By.TAG_NAME, 'tr')[:20]


data=[]


for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')
    
    tmp=[]
    
    for e in range(3, len(elemen)-1):
        
        tmp.append(elemen[e].text)
        
    data.append(tmp)

    
data[:5]

[['2022-11-09   15:06:55.0\n26min ago',
  '12.70 ',
  'N  ',
  '88.19 ',
  'W  ',
  '33',
  '',
  '2.6',
  ' OFFSHORE EL SALVADOR'],
 ['2022-11-09   14:58:24.0\n34min ago',
  '17.32 ',
  'N  ',
  '100.83 ',
  'W  ',
  '12',
  '',
  '4.3',
  ' GUERRERO, MEXICO'],
 ['2022-11-09   14:51:54.7\n41min ago',
  '35.91 ',
  'N  ',
  '90.01 ',
  'W  ',
  '7',
  '',
  '2.4',
  ' ARKANSAS'],
 ['2022-11-09   14:47:27.1\n45min ago',
  '43.92 ',
  'N  ',
  '13.26 ',
  'E  ',
  '13',
  '',
  '2.3',
  ' CENTRAL ITALY'],
 ['2022-11-09   14:10:53.7\n1hr 22min ago',
  '35.91 ',
  'N  ',
  '117.71 ',
  'W  ',
  '2',
  '',
  '2.1',
  ' CENTRAL CALIFORNIA']]

In [172]:
len(data)

20

In [165]:
driver.find_element(By.TAG_NAME, 'thead').text.replace('\n', ';').

'Citizen;Response;;Date & Time;UTC;Latitude;degrees;Longitude;degrees;Depth;km;Mag;[+];Region name;[+];12345678910›»'

In [173]:
df = pd.DataFrame(data, columns = ['date', 'latitude', 'n', 'longitude', 'w', 'depth', 'blank', 'mag', 'region_name'])
df.head()

,date,latitude,n,longitude,w,depth,blank,mag,region_name
0,2022-11-09 14:51:54.7\n20min ago,35.91,N,90.03,W,5,,2.2,ARKANSAS
1,2022-11-09 14:47:27.1\n24min ago,43.92,N,13.26,E,13,,2.3,CENTRAL ITALY
2,2022-11-09 14:10:53.7\n1hr 01min ago,35.91,N,117.71,W,2,,2.1,CENTRAL CALIFORNIA
3,2022-11-09 13:54:07.6\n1hr 17min ago,43.95,N,13.29,E,10,,2.0,CENTRAL ITALY
4,2022-11-09 13:48:48.1\n1hr 23min ago,40.16,N,119.14,W,6,,2.4,NEVADA

In [175]:
df=df.drop(columns=['n', 'w', 'depth', 'blank', 'mag'])

In [183]:
df.date

0         2022-11-09   14:51:54.7\n20min ago
1         2022-11-09   14:47:27.1\n24min ago
2     2022-11-09   14:10:53.7\n1hr 01min ago
3     2022-11-09   13:54:07.6\n1hr 17min ago
4     2022-11-09   13:48:48.1\n1hr 23min ago
5     2022-11-09   13:41:43.0\n1hr 30min ago
6     2022-11-09   13:37:46.8\n1hr 34min ago
7     2022-11-09   13:34:23.2\n1hr 37min ago
8     2022-11-09   13:34:05.0\n1hr 38min ago
9     2022-11-09   13:21:37.0\n1hr 50min ago
10    2022-11-09   13:19:03.0\n1hr 53min ago
11    2022-11-09   13:16:24.1\n1hr 55min ago
12    2022-11-09   13:08:41.0\n2hr 03min ago
13    2022-11-09   13:08:02.0\n2hr 04min ago
14    2022-11-09   13:00:04.7\n2hr 12min ago
15    2022-11-09   12:54:30.9\n2hr 17min ago
16    2022-11-09   12:52:25.0\n2hr 19min ago
17    2022-11-09   12:51:38.3\n2hr 20min ago
18    2022-11-09   12:45:59.0\n2hr 26min ago
19    2022-11-09   12:44:13.5\n2hr 27min ago
Name: date, dtype: object

In [184]:
for e in range(len(df.date)):
    df.date[e] = df.date[e][:10]

In [185]:
df.date

0     2022-11-09
1     2022-11-09
2     2022-11-09
3     2022-11-09
4     2022-11-09
5     2022-11-09
6     2022-11-09
7     2022-11-09
8     2022-11-09
9     2022-11-09
10    2022-11-09
11    2022-11-09
12    2022-11-09
13    2022-11-09
14    2022-11-09
15    2022-11-09
16    2022-11-09
17    2022-11-09
18    2022-11-09
19    2022-11-09
Name: date, dtype: object

In [186]:
df

          date latitude longitude                    region_name
0   2022-11-09   35.91     90.03                        ARKANSAS
1   2022-11-09   43.92     13.26                   CENTRAL ITALY
2   2022-11-09   35.91    117.71              CENTRAL CALIFORNIA
3   2022-11-09   43.95     13.29                   CENTRAL ITALY
4   2022-11-09   40.16    119.14                          NEVADA
5   2022-11-09    3.02    122.04             SULAWESI, INDONESIA
6   2022-11-09   43.95     13.31                   CENTRAL ITALY
7   2022-11-09   43.95     13.36                   CENTRAL ITALY
8   2022-11-09   64.02     21.35                         ICELAND
9   2022-11-09   27.89     66.75            CATAMARCA, ARGENTINA
10  2022-11-09   11.55     87.48         NEAR COAST OF NICARAGUA
11  2022-11-09   45.65     26.61                         ROMANIA
12  2022-11-09   18.88    121.95              LUZON, PHILIPPINES
13  2022-11-09   22.20     68.71              ANTOFAGASTA, CHILE
14  2022-11-09   19.38     66.34              PUERTO RICO REGION
15  2022-11-09   58.51    152.25    KODIAK ISLAND REGION, ALASKA
16  2022-11-09    1.67    127.04            HALMAHERA, INDONESIA
17  2022-11-09   49.39    156.01                   KURIL ISLANDS
18  2022-11-09   27.80     71.24         OFFSHORE ATACAMA, CHILE
19  2022-11-09   43.98     13.27                   CENTRAL ITALY

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [189]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/rubiu5'

In [190]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [196]:
ntweets = driver.find_elements(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')

In [197]:
ntweets[0].text

'25,7 mil Tweets'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/rubiu5'

In [198]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [199]:
nfollowers = driver.find_elements(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[3]/div/div/div/div/div[5]/div[2]/a/span[1]/span')

In [201]:
nfollowers[0].text

'20,2 M'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [202]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [203]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [206]:
article = driver.find_elements(By.TAG_NAME,'a')

In [222]:
#language_name
article[0].text.split()[0]

'Español'

In [215]:
#number of related articles
' '.join(article[0].text.split()[1:-1])

'1 755 000+'

In [223]:
lst = []
for i in range(10):
    language = article[i].text.split()[0]
    number = ' '.join(article[i].text.split()[1:-1])
    
    lst.append({'language_name': language,
               'number of related articles': number})
    
lst

[{'language_name': 'Español', 'number of related articles': '1 755 000+'},
 {'language_name': 'English', 'number of related articles': '6 458 000+'},
 {'language_name': '日本語', 'number of related articles': '1 314 000+'},
 {'language_name': 'Русский', 'number of related articles': '1 798 000+'},
 {'language_name': 'Français', 'number of related articles': '2 400 000+'},
 {'language_name': 'Deutsch', 'number of related articles': '2 667 000+'},
 {'language_name': 'Italiano', 'number of related articles': '1 742 000+'},
 {'language_name': '中文', 'number of related articles': '1 256 000+ 条目 /'},
 {'language_name': 'Português', 'number of related articles': '1 085 000+'},
 {'language_name': 'العربية', 'number of related articles': '1 159 000+'}]

#### A list with the different kind of datasets available in data.gov.uk

In [224]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [225]:
#your code 
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\743416116.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [227]:
article = driver.find_elements(By.CLASS_NAME,'govuk-link')

In [234]:
article[4].text

'Business and economy'

In [236]:
lst = []
for i in range(4, len(article)):
    lst.append(article[i].text)
lst

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [277]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [278]:
#your code
opciones=Options()
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_16708\864721696.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [279]:
tabla = driver.find_elements(By.TAG_NAME,'tbody')#[0]
#tabla.text

In [280]:
#language
tabla[0].find_elements(By.TAG_NAME, 'tr')[0].text.replace('\n', ' ').split()[0]

'Mandarin'

In [281]:
#number of native speakers
tabla[0].find_elements(By.TAG_NAME, 'tr')[0].text.replace('\n', ' ').split()[1]

'Chinese'

In [282]:
lst1 = []
for i in range(len(tabla)):
    lst1.append(tabla[0].find_elements(By.TAG_NAME, 'tr')[i].text.replace('\n', ' ').split()[0])
    
lst2 = []
for i in range(len(tabla)):
    lst2.append(tabla[0].find_elements(By.TAG_NAME, 'tr')[i].text.replace('\n', ' ').split()[1])

lst1

['Mandarin',
 'Spanish',
 'English',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese']

In [283]:
lst2

['Chinese', '475', '373', '(excl.', '234', '232', '154', '125']

In [284]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [285]:
df['language']= lst1
df['number_of_native_speakers']= lst2

In [286]:
df

     language number_of_native_speakers
0    Mandarin                   Chinese
1     Spanish                       475
2     English                       373
3       Hindi                    (excl.
4     Bengali                       234
5  Portuguese                       232
6     Russian                       154
7    Japanese                       125

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code